@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;

}

body{
    background-color: #07bfff;
    font-family: "Gemunu", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}


div{
    position: absolute;
    bottom: 200px;
    background: rgba(0,0,0,0.1);
    padding: 12px 24px;
    border-radius: 8px;
    color: #fff;


}


input{
    width: 60px;
    padding: 5px;
    font-size: 20px;
    background-color: #07bfff;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    text-align: center;
    color:#fff;

}


input:focus{
    outline: none;
}